<app-workout-plans></app-workout-plans>
<div class="main-container">
  <form [formGroup]="form" class="planner-header">
    <mat-form-field appearance="outline">
      <mat-label>Entrenador</mat-label>
      <input matInput formControlName="userName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sesiones</mat-label>
      <input matInput type="number" formControlName="sessionCount" min="1" />
    </mat-form-field>
  </form>

  <!-- Body -->
  <div class="planner-body">
    <!-- Sidebar de ejercicios -->
    <aside class="exercise-sidebar">
      <h3>Ejercicios</h3>
      <div
        cdkDropList
        id="exerciseList"
        [cdkDropListData]="exercises"
        [cdkDropListConnectedTo]="exerciseListConnectedTo"
        class="list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          *ngFor="let ex of exercises"
          cdkDrag
          [cdkDragData]="ex"
          class="list-item"
        >
          {{ ex.name }}
          <small>({{ ex.equipment }})</small>
        </div>
      </div>
    </aside>

    <!-- Sesiones verticales (drag & drop de sesiones) -->
    <section
      class="sessions"
      cdkDropList
      [cdkDropListData]="sessions"
      [cdkDropListConnectedTo]="[]"
      (cdkDropListDropped)="dropSession($event)"
    >
      <mat-card
        *ngFor="let s of sessions"
        class="session-card"
        cdkDrag
        [cdkDragData]="s"
      >
        <div
          cdkDropList
          [id]="'session-' + s.id"
          [cdkDropListData]="s.items"
          [cdkDropListConnectedTo]="sessionsConnectedTo['session-' + s.id]"
          (cdkDropListDropped)="drop($event, s)"
        >
          <mat-card-header class="name-cursor">
            <mat-card-title>{{ s.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="s.items" class="session-table">
              <!-- Checkbox-->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button 
                          matTooltip="Crear superserie" 
                          (click)="groupSelected(s)" 
                          [disabled]="!hasSelectedItems(s)">
                         <svg xmlns="http://www.w3.org/2000/svg" width="60" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M2 7v2h5V7zm10 2v2H9v2h3v2l3-3zm5 0v6h5V9zM2 11v2h5v-2zm0 4v2h5v-2z"/></svg>
                  </button>
                </th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <mat-checkbox
                    *ngIf="!item.isGroup"
                    [(ngModel)]="item.selected"
                    (change)="updateSelection(s)"
                  ></mat-checkbox>
                  <ng-container *ngIf="item.isGroup">
                    <button
                      mat-icon-button
                      
                      (click)="ungroupGroup(s, i)"
                      matTooltip="Eliminar superserie"
                    >
                   <svg xmlns="http://www.w3.org/2000/svg" width="60" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M17 7v2h5V7zM2 9v6h5V9zm10 0v2H9v2h3v2l3-3zm5 2v2h5v-2zm0 4v2h5v-2z"/></svg>
                    </button>
                  </ng-container>
                </td>
              </ng-container>


                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Ejercicio</th>
                  <td mat-cell *matCellDef="let item; let i = index">
                    <ng-container *ngIf="!item.isGroup">
                      {{ item.name }}
                    </ng-container>
                <ng-container *ngIf="item.isGroup">
                  <ng-container *ngFor="let child of item.children; let cIdx = index">
                    <div class="child-row" [ngClass]="{ 'with-divider': cIdx > 0 }">
                      <ng-container *ngIf="cIdx === 0">
                        <span class="superset-label">Superserie</span>
                      </ng-container>
                      {{ child.name }}
                    </div>
                  </ng-container>
                </ng-container>

                  </td>
                </ng-container>
              <!-- Equipo -->
              <ng-container matColumnDef="equipment">
                <th mat-header-cell *matHeaderCellDef>Equipo</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <ng-container *ngIf="!item.isGroup">
                    {{ item.equipment }}
                  </ng-container>
                  <ng-container *ngIf="item.isGroup">
                    <ng-container *ngFor="let child of item.children; let childIdx = index">
                      <div class="superserie-child-row" [ngClass]="{ 'with-divider': childIdx > 0 }">
                        {{ child.equipment }}
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <!-- Series -->
              <ng-container matColumnDef="sets">
                <th mat-header-cell *matHeaderCellDef>Sets</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <ng-container *ngIf="!item.isGroup">
                    <ng-container *ngIf="!isEditing(s.id, i, 'sets'); else editSets">
                      <span (dblclick)="startEdit(s.id, i, 'sets')">
                        {{ item.sets }}
                      </span>
                    </ng-container>
                    <ng-template #editSets>
                      <input class="sets-input"
                        matInput
                        type="number"
                        [(ngModel)]="item.sets"
                        (blur)="finishEdit()"
                        (keydown.enter)="finishEdit()"
                      />
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="item.isGroup">
                    <ng-container *ngFor="let child of item.children; let childIdx = index">
                     <div class="superserie-child-row" [ngClass]="{ 'with-divider': childIdx > 0 }">

                        <ng-container *ngIf="!isEditing(s.id, i + childIdx, 'sets'); else editSets">
                          <span (dblclick)="startEdit(s.id, i + childIdx, 'sets')">
                            {{ child.sets }}
                          </span>
                        </ng-container>
                        <ng-template #editSets>
                          <input class="sets-input"
                            matInput
                            type="number"
                            [(ngModel)]="child.sets"
                            (blur)="finishEdit()"
                            (keydown.enter)="finishEdit()"
                          />
                        </ng-template>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <!-- Reps -->
              <ng-container matColumnDef="reps">
                <th mat-header-cell *matHeaderCellDef>Reps</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <ng-container *ngIf="!item.isGroup">
                    <ng-container *ngIf="!isEditing(s.id, i, 'reps'); else editReps">
                      <span (dblclick)="startEdit(s.id, i, 'reps')">
                        {{ item.reps }}
                      </span>
                    </ng-container>
                    <ng-template #editReps>
                      <input class="sets-input"
                        matInput
                        type="number"
                        [(ngModel)]="item.reps"
                        (blur)="finishEdit()"
                        (keydown.enter)="finishEdit()"
                      />
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="item.isGroup">
                    <ng-container *ngFor="let child of item.children; let childIdx = index">
                     <div class="superserie-child-row" [ngClass]="{ 'with-divider': childIdx > 0 }">

                        <ng-container *ngIf="!isEditing(s.id, i + childIdx, 'reps'); else editReps">
                          <span (dblclick)="startEdit(s.id, i + childIdx, 'reps')">
                            {{ child.reps }}
                          </span>
                        </ng-container>
                        <ng-template #editReps>
                          <input class="sets-input"
                            matInput
                            type="number"
                            [(ngModel)]="child.reps"
                            (blur)="finishEdit()"
                            (keydown.enter)="finishEdit()"
                          />
                        </ng-template>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <!-- Descanso -->
              <ng-container matColumnDef="rest">
                <th mat-header-cell *matHeaderCellDef>Rest</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <ng-container *ngIf="!item.isGroup">
                    <ng-container *ngIf="!isEditing(s.id, i, 'rest'); else editRest">
                      <span (dblclick)="startEdit(s.id, i, 'rest')">
                        {{ item.rest }}
                      </span>
                    </ng-container>
                    <ng-template #editRest>
                      <input class="sets-input"
                        matInput
                        type="number"
                        [(ngModel)]="item.rest"
                        (blur)="finishEdit()"
                        (keydown.enter)="finishEdit()"
                      />
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="item.isGroup">
                    <ng-container *ngFor="let child of item.children; let childIdx = index">
                     <div class="superserie-child-row" [ngClass]="{ 'with-divider': childIdx > 0 }">

                        <ng-container *ngIf="!isEditing(s.id, i + childIdx, 'rest'); else editRest">
                          <span (dblclick)="startEdit(s.id, i + childIdx, 'rest')">
                            {{ child.rest }}
                          </span>
                        </ng-container>
                        <ng-template #editRest>
                          <input
                            matInput class="sets-input"
                            type="number"
                            [(ngModel)]="child.rest"
                            (blur)="finishEdit()"
                            (keydown.enter)="finishEdit()"
                          />
                        </ng-template>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            <!-- Columna Observaciones -->
            <ng-container matColumnDef="notes">
              <th mat-header-cell *matHeaderCellDef>Obs.</th>
              <td mat-cell *matCellDef="let item; let i = index">
                
                <!-- 1) Ejercicio individual -->
                <ng-container *ngIf="!item.isGroup">
                  <ng-container *ngIf="!isEditing(s.id, item.id, 'notes'); else editNormalNotes">
                    <span (dblclick)="startEdit(s.id, item.id, 'notes')">
                      {{ item.notes || '———' }}
                    </span>
                  </ng-container>
                  <ng-template #editNormalNotes>
                    <input matInput class="sets-input"
                          type="text" maxlength="40"
                          [(ngModel)]="item.notes"
                          (blur)="finishEdit()"
                          (keydown.enter)="finishEdit()" />
                  </ng-template>
                </ng-container>

                <!-- 2) Superserie -->
                <ng-container *ngIf="item.isGroup">
                  <ng-container *ngFor="let child of item.children; let c = index">
                    <div class="superserie-child-row"
                        [ngClass]="{ 'with-divider': c > 0 }">
                      
                      <ng-container *ngIf="!isEditing(s.id, item.id, 'notes', c); else editChildNotes">
                        <span (dblclick)="startEdit(s.id, item.id, 'notes', c)">
                          {{ child.notes || '———' }}
                        </span>
                      </ng-container>
                      
                      <ng-template #editChildNotes>
                        <input matInput class="sets-input"
                              type="text" maxlength="40"
                              [(ngModel)]="child.notes"
                              (blur)="finishEdit()"
                              (keydown.enter)="finishEdit()" />
                      </ng-template>

                    </div>
                  </ng-container>
                </ng-container>

              </td>
            </ng-container>
              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acción</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  <ng-container *ngIf="!item.isGroup">
                    <button mat-icon-button color="warn" (click)="removeItem(s, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="item.isGroup">
                    <button mat-icon-button color="warn" (click)="removeGroup(s, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['select', 'name', 'equipment', 'sets', 'reps', 'rest', 'notes','actions']"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['select', 'name', 'equipment', 'sets', 'reps', 'rest', 'notes', 'actions']"
                cdkDrag
                [cdkDragData]="row"
                [cdkDragDisabled]="row.isGroup && !canDragGroup(row)"
                [ngClass]="{ 'superserie-group': row.isGroup }"
              ></tr>
            </table>
          </mat-card-content>
        </div>
      </mat-card>
    </section>
    <button mat-raised-button color="primary" (click)="submitPlan()">
  💾 Guardar plan
    </button>

  </div>

  <button mat-raised-button color="warn" (click)="clearCache()">
    🧹 Limpiar caché
  </button>
</div>
