<ng-container *ngIf="loading; else content">
  <div class="loading"><mat-spinner></mat-spinner></div>
</ng-container>
<ng-template #content>
  <div class="plan-header">
    <div class="header-actions">
      <button mat-stroked-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Volver a planes
      </button>
      <button mat-fab extended color="primary" [routerLink]="['/planner', planId]" *ngIf="planId">
        <mat-icon>edit</mat-icon>
        Editar plan
      </button>
    </div>
  </div>
  <app-workout-plan-view [plan]="plan"></app-workout-plan-view>
</ng-template>
