<!-- VIDEO RENDER URL https://exercise-videos-fitness-planner.s3.us-east-1.amazonaws.com/Derived_Bend/Walking_Good_Morning_-_OPEX_Exercise_Library_IGZ_APNaqAQ.mp4/Walking_Good_Morning_-_OPEX_Exercise_Library_IGZ_APNaqAQ_preview.mp4 -->
<div class="dashboard-container">
  <mat-card class="header-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </mat-card-title>
      <mat-card-subtitle>Resumen general de la actividad y métricas clave</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="video-section">
    <h2>Featured Exercise Video</h2>
    <video width="640" height="360" controls>
      <source src="https://exercise-videos-fitness-planner.s3.us-east-1.amazonaws.com/previews/Mobility/Upward_Dog__arnMWbvYro_preview.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="stats-section">
    <h2>Your Fitness Stats</h2>
    <!-- Placeholder for fitness stats -->
    <p>Total Workouts: 25</p>
    <p>Total Hours: 15</p>
    <p>Calories Burned: 5000</p>
  </div>

